
{% load staticfiles %}


<body>

{% include "renderers/base.html" %}
{% block container %}
<div class="container">
  	<div class="row">
    	<a href="{% url 'all_company_data' %}">
    	<div class="col s4">
      		<h4><b style="color:#c60707">Company</b><b style="color:#000">Data</b></h4>
      		<img src="{% static 'images/search.png' %}" alt="logo" style="height: 40%; width: 75%">
    	</div>
  		</a>

  		<a href="{% url 'all_historical_data' %}">
    	<div class="col s4">
      		<h4><b style="color:#c60707">Historical</b><b style="color:#000">Data</b></h4> 
      		<img src="{% static 'images/histdata.jpg' %}" alt="logo" style="height: 40%; width: 72%; PADDING-TOP: 10px">
    	</div>
  		</a>
  
  		<!--<a href="{% url 'search_stock' %}">-->
     	<div class="col s4">
        <div class="waves-effect waves-light modal-trigger" data-target="modal1">
        <h4><b style="color:#c60707">Current</b><b style="color:#000">Price</b></h4>
          <img src="{% static 'images/currentprice.png' %}" alt="logo" style="height: 40%; width: 70%; PADDING-TOP: 10px"> 
        </div>
        <div id="modal1" class="modal">
          <div class="modal-content">
        <form action="{% url 'search_stock' %}" method="POST">
          {% csrf_token %}
          <div class="row">
            <div class="input-field col s12">
              <input id="search_text" type="text" class="validate" name="search_text">
              <label for="search_text">Search by symbol name</label>
            </div>
          </div>
      <div class="modal-footer">    
      <button type = "submit" class="waves-effect waves-green btn-flat" name="action">Submit</button>       
    </div>
        </form>
    	</div>
      
  		<!--</a>-->
  	</div>
</div>
{% endblock container %}
</body>
<script type="text/javascript">
$(document).ready(function(){
    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
    $('.modal-trigger').leanModal();
  });
</script>